@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700;900&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap";
@import "foundation/oreset";

/* -----------------------------------------------------
サイト内共通設定
------------------------------------------------------ */
body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: calc(25 / 16);
  color: #3b3b3b;
  letter-spacing: 0.05em;
  background: #e1e9d1 url("../img/illust_bg.svg") repeat 0 0 / cover;
}

@media screen and (min-width: 768px) {
  body {
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }

    &::before {
      bottom: 63px;
      left: 0;
      width: 132px;
      height: 73px;
      background-image: url("../img/illust_cloud01_left_pc.svg");
    }

    &::after {
      top: 63px;
      right: 0;
      width: 157px;
      height: 73px;
      background-image: url("../img/illust_cloud01_right_pc.svg");
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.is_sp {
  display: block;
}

@media screen and (min-width: 768px) {
  .is_sp {
    display: none;
  }
}

.is_pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .is_pc {
    display: block;
  }
}

/* コンテンツ全体のスタイル */
.container {
  padding: 0 4.65%;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

/* コンテンツの大枠のスタイル */
.wrapper {
  width: 100%;
  max-width: 768px;
  margin: auto;
}

/* スクロールアニメーション */
.js_fadeIn {
  opacity: 0;
  translate: 0 40px;
  transition: all 1s;

  &.is_show {
    opacity: 1;
    translate: 0 0;
  }
}

/* -----------------------------------------------------
水引アニメーション
------------------------------------------------------ */

/* PC */
#eOR5SC1sN7q3 {
  animation: eOR5SC1sN7q3_c_o 3000ms linear 1 forwards;
}

@keyframes eOR5SC1sN7q3_c_o {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#eOR5SC1sN7q22_to {
  animation: eOR5SC1sN7q22_to__to 3000ms linear 1 forwards;
}

@keyframes eOR5SC1sN7q22_to__to {
  0% {
    transform: translate(0px, 59.5px);
  }

  83.333333% {
    transform: translate(331px, 59.5px);
  }

  100% {
    transform: translate(331px, 59.5px);
  }
}

#eOR5SC1sN7q22_ts {
  animation: eOR5SC1sN7q22_ts__ts 3000ms linear 1 forwards;
}

@keyframes eOR5SC1sN7q22_ts__ts {
  0% {
    transform: scale(0, 1);
  }

  83.333333% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

#eOR5SC1sN7q26_to {
  animation: eOR5SC1sN7q26_to__to 3000ms linear 1 forwards;
}

@keyframes eOR5SC1sN7q26_to__to {
  0% {
    transform: translate(1440px, 61.5px);
  }

  83.333333% {
    transform: translate(1109px, 61.5px);
  }

  100% {
    transform: translate(1109px, 61.5px);
  }
}

#eOR5SC1sN7q26_ts {
  animation: eOR5SC1sN7q26_ts__ts 3000ms linear 1 forwards;
}

@keyframes eOR5SC1sN7q26_ts__ts {
  0% {
    transform: scale(0, 1);
  }

  83.333333% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* SP */
#eGeZtBpx7RP4 {
  animation: eGeZtBpx7RP4_c_o 3000ms linear 1 normal forwards;
}

@keyframes eGeZtBpx7RP4_c_o {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#eGeZtBpx7RP23_ts {
  animation: eGeZtBpx7RP23_ts__ts 3000ms linear 1 normal forwards;
}

@keyframes eGeZtBpx7RP23_ts__ts {
  0% {
    transform: translate(-174px, 59.5px) scale(0, 1);
  }

  90% {
    transform: translate(-174px, 59.5px) scale(1, 1);
  }

  100% {
    transform: translate(-174px, 59.5px) scale(1, 1);
  }
}

#eGeZtBpx7RP23 {
  animation: eGeZtBpx7RP23_c_o 3000ms linear 1 normal forwards;
}

@keyframes eGeZtBpx7RP23_c_o {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

#eGeZtBpx7RP27_ts {
  animation: eGeZtBpx7RP27_ts__ts 3000ms linear 1 normal forwards;
}

@keyframes eGeZtBpx7RP27_ts__ts {
  0% {
    transform: translate(605.005005px, 61.5px) scale(0, 1);
  }

  90% {
    transform: translate(605.005005px, 61.5px) scale(1, 1);
  }

  100% {
    transform: translate(605.005005px, 61.5px) scale(1, 1);
  }
}

#eGeZtBpx7RP27 {
  animation: eGeZtBpx7RP27_c_o 3000ms linear 1 normal forwards;
}

@keyframes eGeZtBpx7RP27_c_o {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* -----------------------------------------------------
メッセージ
------------------------------------------------------ */
.message__wrapper {
  position: relative;
  padding-top: calc(232 / 932 * 100svh);
  padding-bottom: calc(216 / 932 * 100svh);
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .message__wrapper {
    padding: calc(155 / 1024 * 100svh) 24px;
  }
}

.message__animation {
  margin: 40px calc(50% - 50vw) 0;
}

@media screen and (min-width: 768px) {
  .message__animation {
    margin-top: 80px;
  }
}

.message__title {
  position: relative;
  font-family: "Noto Serif JP", serif;
  font-size: clamp(1.25rem, -0.932rem + 10.91vw, 2rem);
  font-feature-settings: "palt";
  text-align: center;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 135px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.is_show {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  &::before {
    top: -115%;
    left: -4.6%;
    background-image: url("../img/illust_cloud02_left.svg");
    animation: cloud-moved-left 10s ease-in-out infinite alternate;
  }

  &::after {
    top: -90%;
    right: -5.5%;
    background-image: url("../img/illust_cloud02_right.svg");
    animation: cloud-moved-right 10s ease-in-out infinite alternate;
  }
}

@keyframes cloud-moved-left {
  from {
    transform: translate(0) scale(1);
  }

  to {
    transform: translate(20%) scale(1.1);
  }
}

@keyframes cloud-moved-right {
  from {
    transform: translate(0) scale(1);
  }

  to {
    transform: translate(-20%) scale(1.1);
  }
}

.message__title_text {
  span {
    opacity: 0;
  }

  &.is_show span {
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
  }

  span:nth-child(1) {
    transition-delay: 500ms;
  }

  span:nth-child(2) {
    transition-delay: 600ms;
  }

  span:nth-child(3) {
    transition-delay: 700ms;
  }

  span:nth-child(4) {
    transition-delay: 800ms;
  }

  span:nth-child(5) {
    transition-delay: 900ms;
  }

  span:nth-child(6) {
    transition-delay: 1000ms;
  }

  span:nth-child(7) {
    transition-delay: 1100ms;
  }

  span:nth-child(8) {
    transition-delay: 1200ms;
  }

  span:nth-child(9) {
    transition-delay: 1300ms;
  }

  span:nth-child(10) {
    transition-delay: 1400ms;
  }

  span:nth-child(11) {
    transition-delay: 1500ms;
  }

  span:nth-child(12) {
    transition-delay: 1600ms;
  }

  span:nth-child(13) {
    transition-delay: 1700ms;
  }

  span:nth-child(14) {
    transition-delay: 1800ms;
  }

  span:nth-child(15) {
    transition-delay: 1900ms;
  }

  span:nth-child(16) {
    transition-delay: 2000ms;
  }
}

@media screen and (min-width: 768px) {
  .message__title {
    font-size: clamp(2.5rem, 0.289rem + 5.9vw, 4.0625rem);

    &::before,
    &::after {
      content: "";
      transform: rotate(180deg);
    }

    &::before {
      top: -50%;
      left: -40px;
    }

    &::after {
      top: auto;
      bottom: -50%;
      right: -40px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .message__title {
    &::before,
    &::after {
      width: 269px;
      height: 101px;
    }

    &::before {
      left: -26%;
    }

    &::after {
      right: -21%;
    }
  }
}

.message__intro {
  position: relative;
  margin-top: calc(56 / 16 * 1rem);
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  &::before {
    bottom: -121px;
    left: -4.6%;
    width: 132px;
    height: 73px;
    background-image: url("../img/illust_cloud01_left_sp.svg");
  }

  &::after {
    bottom: -78px;
    right: -5.5%;
    width: 157px;
    height: 73px;
    background-image: url("../img/illust_cloud01_right_sp.svg");
  }
}

@media screen and (min-width: 768px) {
  .message__intro {
    margin-top: calc(80 / 16 * 1rem);

    &::before,
    &::after {
      content: none;
    }
  }
}

.message__inner {
  opacity: 0;
  translate: 0 20px;
  transition: all 0.5s;

  &.is_show {
    opacity: 1;
    translate: 0;
  }
}

.message__text + .message__text {
  margin-top: 2rem;
}

.message__text {
  font-size: clamp(0.875rem, 0.429rem + 2.23vw, 1.5rem);
}

/* -----------------------------------------------------
振り返りと抱負
------------------------------------------------------ */
@media screen and (min-width: 1280px) {
  .review {
    position: relative;
    width: 100%;
    max-width: 1006px;
    margin: auto;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 10;
      width: calc(225 / 993 * 100%);
      max-width: 225px;
      height: 100%;
      background: url("../img/illust_dragon_tail01.svg") no-repeat 0 0 / 100%
        auto;
    }
  }
}

.review__wrapper {
  position: relative;
  padding: 56px 4.102% 80px;
  background-color: #fdf9d7;
}

@media screen and (min-width: 768px) {
  .review__wrapper {
    padding: 80px 0 160px;
  }
}

.review__inner {
  position: relative;
  width: 100%;
  max-width: 536px;
  margin: auto;
}

.review__title {
  font-family: "Noto Serif JP", serif;
  font-size: 2.5rem;
  font-feature-settings: "palt";
  text-align: center;
}

/* -----------------------------------------------------
タブメニュー
------------------------------------------------------ */
.tab {
  margin-top: 56px;
}

.tab__list {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  margin-bottom: 80px;
}

.tab__btn {
  position: relative;
  width: calc(50% - 8px);
  max-width: 200px;
  padding: 1em;
  font-size: clamp(0.75rem, 0.38rem + 1.85vw, 1rem);
  text-align: center;
  background-color: transparent;
  border: 1px solid #3b3b3b;
  border-radius: 99999px;

  &.is_select::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -75%;
    right: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media screen and (min-width: 768px) {
  .tab__btn.is_select::after {
    top: -50%;
  }
}

.tab__btn--ryu {
  &::after {
    content: "";
    background-size: 0 0;
    background-image: url("../img/icon01.svg");
  }

  &.is_select {
    background-color: #b89e2e;
    border-color: #b89e2e;

    &::after {
      background-size: contain;
    }
  }
}

.tab__btn--okana {
  &::after {
    content: "";
    background-size: 0 0;
    background-image: url("../img/icon02.svg");
  }

  &.is_select {
    color: #fff;
    background-color: #cf2a23;
    border-color: #cf2a23;

    &::after {
      background-size: contain;
    }
  }
}

@media (hover: hover) {
  .tab__btn--ryu,
  .tab__btn--okana {
    transition: all 0.5s;
  }

  .tab__btn--ryu:hover {
    background-color: #b89e2e;
    border-color: #b89e2e;
  }

  .tab__btn--okana:hover {
    color: #fff;
    background-color: #cf2a23;
    border-color: #cf2a23;
  }
}

.tab__panel {
  position: relative;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s;
  transform: translateY(-20px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    max-width: 536px;
    height: 100%;
    background-color: #f2c960;
    transform: rotate(-8deg);
    transform-origin: center;
  }

  &.is_show {
    transform: translateY(0);
    height: auto;
    opacity: 1;
    overflow: visible;
  }
}

.tab__contents {
  position: relative;
  padding: calc(56 / 16 * 1rem) calc(40 / 358 * 100%);
  background-color: #fff;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 100;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

.tab__contents--ryu::after {
  right: -35px;
  bottom: -35px;
  width: 192px;
  height: 192px;
  background-image: url("../img/illust01.svg");
}

.tab__contents--okana::after {
  right: -25px;
  bottom: 0;
  width: 139px;
  height: 149px;
  background-image: url("../img/illust02.svg");
}

@media screen and (min-width: 768px) {
  .tab__contents {
    padding-right: calc(40 / 16 * 1rem);
    padding-left: calc(40 / 16 * 1rem);
  }
}

.tab__body + .tab__body {
  margin-top: 3rem;
}

.tab__title {
  font-family: "Noto Serif JP", serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-feature-settings: "palt";

  span {
    display: inline-block;
    padding-bottom: 16px;
  }
}

.tab__title::after {
  content: "";
  display: block;
  width: 56px;
  height: 1px;
  background-color: #3b3b3b;
}

.tab__lead {
  margin-top: 2rem;
}

.tab__task {
  display: grid;
  row-gap: 5px;
  margin-top: 2em;
  list-style-type: disc;
}

.tab__item {
  margin-left: 1em;
}

.tab__foot {
  position: relative;
  margin-top: 3rem;
}

.tab__icons {
  display: flex;
  column-gap: 32px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .tab__icons {
    column-gap: 48px;
  }
}

/* -----------------------------------------------------
SNSシェア
------------------------------------------------------ */
.share {
  position: relative;
}

.share__wrapper {
  padding: 56px 0 250px;
  background-color: #fdf9d7;
}

@media screen and (min-width: 768px) {
  .share__wrapper {
    padding: 80px 0 450px;
  }
}

.share__title {
  font-family: "Noto Serif JP", serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-feature-settings: "palt";
  text-align: center;
}

@media screen and (min-width: 768px) {
  .share__title {
    font-size: 2rem;
  }
}

.share__btn {
  position: relative;
  z-index: 100;
  margin-top: 32px;
  text-align: center;
  opacity: 0;
  translate: 0 40px;
  transition: all 1s 0.4s;

  a {
    display: inline-block;
    text-decoration: none;
  }

  img {
    margin: auto;
  }

  &.is_show {
    opacity: 1;
    translate: 0 0;
  }
}

@media (hover: hover) {
  .share__link {
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.6;
    }
  }
}

.share__illust {
  display: block;
  position: absolute;
  bottom: 1.5%;
  left: 58%;
  z-index: 10;
  width: 100vw;
  min-height: 318px;
  object-fit: cover;
  scale: 1.15;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .share__illust {
    bottom: 3%;
    width: 100%;
    min-height: 554px;
    scale: 1.2;
  }
}

@media screen and (min-width: 1024px) {
  .share__illust {
    bottom: 266px;
    scale: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .share__illust {
    display: block;
    left: 55.5%;
    bottom: 0;
    width: 100%;
    max-width: 1150px;
    height: 900px;
    scale: 1;
  }
}

.share__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: image-switch-animation 6s infinite;
}

@keyframes image-switch-animation {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  86% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.share__img:nth-child(2) {
  animation-delay: 3s;
}

/* -----------------------------------------------------
フッター
------------------------------------------------------ */
.footer__wrapper {
  padding: 5px 0;
  color: #fff;
  text-align: center;
  background-color: #b89e2e;
}
